<extend name="Public/base" />
<block name="style">
    <css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <style>
        .items{
            margin-bottom:0;list-style:none;
        }
    </style>
</block>
<block name="body">
    <div>
        <div class="page-head">
            <h4>权限管理</h4>
        </div>
        <div class="cl-mcont">
            <div class="row">

                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h4 class="hthin">{$meta_title}</h4>
                        </div>
                        <div class="content">
                            <div class="tab-container">
                                <form action="{:U()}" class="form-horizontal" method="post">
                                    <volist name="_list" id="vo">
                                        <div class="{$vo.icon}" style="background-color:#eee; font-size:14px; font-weight:bold;" >{$vo.title}</div>
                                        <table class="no-border blue">
                                            <notempty name="_list">
                                                <volist name="vo['child']" id="sub1">
                                                    <tbody class="no-border-y">
                                                        <tr>
                                                            <!--<td style="width:10%;><input name="tables[]" type="checkbox" value="{$vo.id}"></td>-->
                                                            <td style="width:10%;">
                                                                <div>
                                                                    <input class="baseCheckbox" name="tables[]" type="checkbox" value="{$sub1.id}" <?php if($sub1[checked]) echo( "checked");?> >
                                                                    <span class="{$sub1.icon}">{$sub1.title}</span> 
                                                                </div>
                                                                <ul class="items">
                                                                    <volist name="sub1['child']" id="menu1">
                                                                        <li>
                                                                            <input class="childeCheckbox" name="tables[]" type="checkbox" value="{$menu1.id}" <?php if($menu1[checked]) echo( "checked");?> ></input>
                                                                            <span class="{$menu1.icon}">{$menu1.title}</span>
                                                                            <span>{$menu1.url}</span>
                                                                        </li>
                                                                    </volist>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </volist>
                                                <else/>
                                                <td colspan="4"> aOh! 暂时还没有内容! </td>
                                            </notempty>
                                        </table>
                                    </volist>
                                    <div class="content col-lg-12 pull-left">
                                        <div class="panel-foot text-center">
                                            <div class="page">{$_page}</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <input type="hidden" name="roleId" value="{$roleId|default=''}">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">提 交</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
<block name="script">
    <js href="__JS__/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js" />
    <js href="__JS__/bootstrap.datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" />
    <js href="__STATIC__/uploadify/jquery.uploadify.min.js" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datetime").datetimepicker({
                autoclose: true
            });

            highlight_subnav("{:U('RolePrivilege/edit')}"); 
            <present name = "info.id" >
            highlight_subnav("{:U('RolePrivilege/edit')}");
            setValue("category", "{$info.category|default = 1}"); 
            <else />
            highlight_subnav("{:U('News/add')}"); 
            </present>	

            $(".baseCheckbox").on("click", function() {
                $(this).next("ul").find(":checkbox").prop("checked", $(this).prop("checked"));
            });

            $(".childeCheckbox").on("click", function() {
                if ($(this).prop("checked")) {
                    $(this).parents("ul").prev().prop("checked", $(this).prop("checked"));
                } else {
                    var hasChecked = false;
                    $(this).parents("ul chechbox").each(function(i) {
                        hasChecked = $(this).prop("checked");
                    });
                    $(this).parents("ul").prev().prop("checked", hasChecked);
                }
            });
        });
    </script>
</block>