<extend name="Public/base"/>

<block name="body">
<div>
<div class="page-head">
	<h2>用户</h2>
</div>
<div class="cl-mcont">

	<volist name="_list" id="vo">

    <div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="header">
				<!-- <h3 class="hthin">{$meta_title}</h3> -->
				 <h3 class="hthin">{$vo['title']}</h3>

			</div>
			<div class="content">
				<table class="no-border blue">
					<thead class="no-border">
					<tr>
						<th style="width:5%;">选择</th>
						<th style="width:20%;">标题</th>
						<th style="width:20%;">编号</th>
						<th style="width:20%;">菜单</th>
						<th style="width:20%;">URL</th>
					</tr>
					</thead>
					<notempty name="_list">
						<tbody class="no-border-y">
						<volist name="vo['child']" id="sub">
							<tr>
								<!--<td style="width:10%;><input name="tables[]" type="checkbox" value="{$vo.id}"></td>-->
								<td><input name="tables[]" type="checkbox" value="{$sub.checked}"></td>

								<td style="width:20%;">{$vo['id']}</td>
								<td style="width:20%;">{$sub.id}</td>
								<td style="width:20%;">{$sub.title}</td>
								<td style="width:20%;">{$sub.url}</td>

							</tr>
						</volist>
						</tbody>
						<else/>
						<td colspan="4"> aOh! 暂时还没有内容! </td>
					</notempty>
				</table>
				<div class="content col-lg-12 pull-left">
					<div class="panel-foot text-center">
						<div class="page">{$_page}</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

	</volist>

</div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
		$(document).ready(function(){
			highlight_subnav('{:U('Role/index')}');
		});
	</script>
</block>