<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>{$web_title}</title>
    <!--<meta name="goback" content="{$goback}" />-->
    <meta name="keywords" content="{$web_keywords}" />
    <meta name="description" content="{$web_description}" />
    <link href="{$web_tplpath}Template/Shop_1/css/main.css" rel="stylesheet" type="text/css" />
	<!-- <script data-main="{$web_tplpath}js/main" src="{$web_tplpath}js/require.js"></script> -->
	<script src="{$web_tplpath}Template/Shop_1/js/jquery-1.11.1.min.js"></script>
	<script src="{$web_tplpath}Template/Shop_1/js/script.js"></script>
	<style>
	 .record_tips{background: url({$web_tplpath}Template/Shop_1/images/none.png) center center no-repeat;background-size: 40% auto;};
	</style>
</head>
<body>

<div class="wrap">
	<div class="record_list">
		<div class="record_tips">
		<div class="rt_con">
				<h1>亲，用户信息丢失啦</h1>
				<p>请尝试关闭重新打开商城页面！</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>