<extend name="Public/base" />
<block name="style">
    <css href="__JS__/jquery.icheck/skins/square/blue.css" />
    <css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <style type="text/css">
        .col-sm-3 {
            width: 185px;
        }
    </style>
</block>

<block name="body">
    <div>
        <div class="page-head">
            <h2>{$meta_title}</h2>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <form class="shop-form" method="post" action="{:U('index')}">
                        <div class="block-flat">
                            <div class="header">
                                <h3 class="hthin">{$meta_title}</h3>
                            </div>

                            <div class="content">
                                <div class="col-sm-12">
                                    <div style="float: left;width: 100%;margin-bottom:15px;">
                                        <label class="pull-left control-label">开始日期</label>
                                        <div class="col-sm-3">
                                            <div class="input-group date starttime" data-min-view="2" data-date-format="yyyy-mm-dd">
                                                <input type="text" name="starttime" class="form-control" value="" />
                                                <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>
                                        <label class="pull-left control-label">结束日期</label>
                                        <div class="col-sm-3">
                                            <div class="input-group date endtime" data-min-view="2" data-date-format="yyyy-mm-dd">
                                                <input type="text" name="endtime" class="form-control" value="" />
                                                <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>
                                        <label class="pull-left control-label">渠道名称</label>
                                        <div class="col-sm-3">
                                            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="输入渠道名称进行搜索" />
                                        </div>
                                        <label class="pull-left control-label">渠道状态</label>
                                        <div class="btn-group col-sm-3">
                                            <select class="form-control" name="status" style="width: 150px;">
												<option value="">所有状态</option>
												<option value="1">启用</option>
												<option value="0">禁用</option>
											</select>
                                        </div>
                                    </div>
                                    <div style="float: left;width: 100%;margin-bottom:15px;">
                                        <div class="col-sm-3">
                                            <button type="button" id="search" url="{:U('index?category='.$_GET['category'])}" class="btn btn-success">查询</button>
                                            <neq name="Think.session.rolename" value="渠道">
                                                <a class="btn btn-success" href="{:U('add')}"><i class="fa fa-plus-square"></i>添加渠道</a>
                                            </neq>
                                        </div>
                                    </div>
                                </div>
                                <table class="no-border blue">
                                    <thead class="no-border">
                                        <tr>
                                            <th style="width:5%;">渠道ID</th>
                                            <th style="width:auto;">渠道名称</th>
                                            <th style="width:auto;">联系人</th>
                                            <th style="width:auto;">联系电话</th>
                                            <th style="width:auto;">兑换比例<br/>(人民币:{:C("WEB_CURRENCY")})</th>
                                            <th style="width:auto;">溢价(%)</th>
                                            <th style="width:auto;">起拍数量<br/>(mg/人次)</th>
                                            <!-- <th style="width:auto;">提金费用<br/>({:C("WEB_CURRENCY")}/g)</th> -->
                                            <th style="width:auto;">提金百分比<br/>(%)</th>
                                            <th style="width:auto;">提金额外费用<br/>(元)</th>
                                            <th style="width:auto;">提现百分比(%)</th>
                                            <th style="width:auto;">起提克数(mg)</th>
                                            <th style="width:5%;">状态</th>
                                            <th style="width:8%;">添加时间</th>
                                            <th style="width:5%;">操作</th>
                                        </tr>
                                    </thead>
                                    <notempty name="_list">
                                        <tbody class="no-border-y">
                                            <volist name="_list" id="vo">
                                                <tr>
                                                    <!--<td style="width:5%;">{$vo.id}</td>-->
                                                    <td>{$vo.id}</td>
                                                    <td>{$vo.channel_name}</td>
                                                    <td>{$vo.contact}</td>
                                                    <td>{$vo.tel}</td>
                                                    <td>1:{$vo.proportion}</td>
                                                    <td>{$vo.premium}</td>
                                                    <td>{$vo.starting_number}</td>
                                                    <!-- <td>{$vo.extract_cost}</td> -->
                                                    <td>{$vo.extract_gold_persent}</td>
                                                    <td>{$vo.extract_gold_extra_expenses}</td>
                                                    <td>{$vo.extract_money}</td>
                                                    <td>{$vo.extract_number}</td>
                                                    <td>{$vo['status']==1 ? "启用" : "禁用"}</td>
                                                    <td>{$vo.create_time}</td>
                                                    <td>
                                                        <neq name="Think.session.rolename" value="渠道">
                                                            <a data-placement="left" data-toggle="tooltip" data-original-title="编辑" class="label label-primary" href="{:U('edit?id='.$vo['id'])}"><i class="fa fa-pencil"></i></a>
                                                            <a id="status" data-placement="left" data-toggle="tooltip" data-original-title="状态" class="label <eq name='vo.status' value='0'>label-default<else/>label-success</eq> no-refresh ajax-get" href="{:U('setStatus?Model=channel&id='.$vo['id'].'&status='.abs(1-$vo['status']))}"><i class="fa <eq name='vo.status' value='0'>fa fa-arrows-v<else/>fa fa-arrows-v</eq>"></i></a>
                                                        </neq>
                                                    </td>
                                                </tr>
                                            </volist>
                                        </tbody>
                                        <else/>
                                        <td colspan="6"> aOh! 暂时还没有内容! </td>
                                    </notempty>
                                </table>
                                <div class="content col-lg-12 pull-left">
                                    <div class="panel-foot text-center">
                                        <div class="page">{$_page}</div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <js href="__JS__/behaviour/weixin.js" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".starttime").datetimepicker({
                autoclose: true,
                language: 'zh-CN'
            });
            $(".endtime").datetimepicker({
                autoclose: true,
                language: 'zh-CN'
            });

            highlight_subnav("{:U('Channel/index')}");

            $("#btnExport").click(function() {
                $('form').attr('action', "{:U('exportChannelList')}");
            });

            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var keyword = $('input[name=keyword]').val(); //名称
                var status = $("select[name=status]").val(); //状态
                var starttime = $('input[name=starttime]').val(); //开始日期
                var endtime = $('input[name=endtime]').val(); //结束日期
                var query = "keyword/" + keyword + "/status/" + status + "/starttime/" + starttime + "/endtime/" + endtime;
                url += '/' + query;
                window.location.href = url;
            });
            var conditionarr = JSON.parse('{$conditionarr}');
            $('input[name=keyword]').val(conditionarr['keyword']);
            $("input[name=starttime]").val(conditionarr['starttime']);
            $("input[name=endtime]").val(conditionarr['endtime']);
            var status = conditionarr['status'];
            if (status != undefined) {
                $("select[name=status]").val(status);
            }

            channelIndx.conditionarr();
        });

        var channelIndx = {
            conditionarr: function() {
                var conditionarr = JSON.parse('{$conditionarr}');
                $('input[name=keyword]').val(conditionarr['keyword']);

                var span = '<span class="caret"></span>';

                if (conditionarr['levelname'] != undefined) {
                    $('#btnchannellevel').html(conditionarr['levelname'] + span);
                }

                var statusname = conditionarr['statusname']
                if (statusname != undefined) {
                    $("#btnchannelstatus").html(statusname + span);
                }
            }
        }

        function myJsFunc(url) {
            //拼装所有的查询、筛选条件   渠道等级、所有状态、搜索关键字
            var channellevel = document.getElementById('btnchannellevel').innerText;
            if (channellevel) {
                url += channellevel;
            }
            alert(channellevel);

            var channelstatus = document.getElementById('btnchannelstatus').innerText;
            alert(channelstatus);
            if (channelstatus) {
                url += channelstatus;
            }

        }
    </script>
</block>