<extend name="Public/base" />
<block name="body">
    <div>
        <div class="page-head">
            <h2>兑换设置</h2>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h3 class="hthin">{$meta_title}</h3>
                        </div>
                        <div class="content">
                            <div class="tab-container">
                                <form action="{:U()}" class="form-horizontal" method="post">
                                    <input type="hidden" value="{$info.id|default=''}" name="id" id="id" />
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{:C("WEB_CURRENCY")}兑换比例:1元=</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="number" class="form-control" value="{$info.number|default=''}" style="width: 200px;float: left;" /><label class="col-sm-2 control-label" style="text-align:left;">{:C("WEB_CURRENCY")}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">提 交</button>
                                            <input class="btn btn-primary" type="reset" name="button2" value="重置">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
<block name="script">
    <js href="__JS__/jquery.icheck/icheck.min.js"/>
    <js href="__JS__/bootstrap.datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" />
    <script type="text/javascript">
        $(document).ready(function(){
            highlight_subnav('{:U('Exchange/info')}');
        });
    </script>
</block>