<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="__IMG__/favicon.png">
<title>红包详情</title>
<!-- Bootstrap core CSS -->
<css href="__JS__/bootstrap/dist/css/bootstrap.css" />
<css href="__FONTS__/font-awesome-4/css/font-awesome.min.css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv-printshiv.js"></script>
    <![endif]-->
<!-- Bootstrap core CSS -->
<css href="__JS__/jquery.nanoscroller/nanoscroller.css" />
<css href="__CSS__/pygments.css" />
<!-- Custom styles for this template -->
<css href="__CSS__/style.css" />
</head>
<body>
<div class="block-flat">
	<div class="col-md-12">
		<div class="nano nscroller" style="height:500px;">
			<div class="content">
				<table class="no-border blue" style="border: 1px solid #dadada">
					<notempty name="item">
					<tr>
						<td style="width: 20%">红包id:</td>
						<td>{$item.id}</td>
					</tr>
					<tr>
						<td style="width: 20%">红包名称:</td>
						<td>{$item.name}</td>
					</tr>
					<tr>
						<td style="width: 20%">红包金额:</td>
						<td>{$item.amount}</td>
					</tr>
					<tr>
						<td style="width: 20%">开始时间:</td>
						<td>{$item.begin_time|date="Y-m-d H:i:s",###}</td>
					</tr>
					<tr>
						<td style="width: 20%">结束时间:</td>
						<td>{$item.end_time|date="Y-m-d H:i:s",###}</td>
					</tr>
					<tr>
						<td style="width: 20%">有效时长(天):</td>
						<td>{$item.effective}</td>
					</tr>
					<tr>
						<td style="width: 20%">添加时间:</td>
						<td>{$item.create_time|date="Y-m-d H:i:s",###}</td>
					</tr>
					<else/>
					<td colspan="4"> aOh! 暂时还没有内容! </td>
					</notempty>
				</table>
			</div>
		</div>
	</div>	
</div>
<js href="__JS__/jquery.js" />
<js href="__JS__/jquery.nanoscroller/jquery.nanoscroller.js" />
<js href="__STATIC__/layer/layer.js" />
<js href="__JS__/behaviour/web.js" />
<js href="__JS__/bootstrap/dist/js/bootstrap.min.js" />
<script type="text/javascript">
$(document).ready(function(){
	$(".nscroller").nanoScroller();
});
</script>
</html>
