<extend name="Public/base"/>
<block name="style">
	<css href="__JS__/jquery.icheck/skins/square/blue.css"/>
	<css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
	<style type="text/css">
		.col-sm-3{
			width:185px;
		}
	</style>
</block>
<block name="body">
<div>
<div class="page-head">
	<h2>渠道-汇总信息</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
					<div class="header">
						<h3 class="hthin">{$meta_title}</h3>
					</div>
					<div class="content">
						<div class="col-sm-12">
							<div style="float: left;width: 100%;">
								<label class="pull-left control-label">利润归属渠道名称</label>
								<div class="col-sm-3">
									<input type="text" name="keywordroot" class="form-control">
								</div>
								<label class="pull-left control-label">开始日期</label>
								<div class="col-sm-3">
									<div class="input-group date starttime" data-min-view="2" data-date-format="yyyy-mm-dd">
										<input type="text" name="starttime" class="form-control" value="{$Think.post.starttime|default=''}"/>
										<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
									</div>
								</div>
								<label class="pull-left control-label">结束日期</label>
								<div class="col-sm-3" >
									<div class="input-group date endtime" data-min-view="2" data-date-format="yyyy-mm-dd">
										<input type="text" name="endtime" class="form-control" value="{$Think.post.endtime|default=''}"/>
										<span class="input-group-addon btn btn-primary" ><span class="glyphicon glyphicon-th"></span></span>
									</div>
								</div>
								<div class="col-sm-2">
									<button type="button" id="search"
											url="{:U('qdsummary')}" class="btn btn-success">
										搜索
									</button>
								
										<button type="button"   url="{:U('exportCSummary')}"  class="btn btn-success" id="btnExport">导出</button>
									</div>
								</div>
							</div>


						</div>

						<div class="col-sm-12">
							<div style="float: left;width: 100%;">
								<table class="no-border blue">
									<thead class="no-border">
									<tr>
										<th style="width:10%;">利润归属渠道名称</th>
										<th style="width:10%;">现金总支付金额</br>（单位：元）</th>
										<th style="width:10%;">总利润</th>
									</tr>
									</thead>
									<tbody class="no-border-y">

										<tr>
											<volist name="total" id="vo">
											<td style="width:10%;">{$vo}</td>
										</volist>

										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<table class="no-border blue">
							<thead class="no-border">
							<tr>
								<th style="width:10%;">利润归属渠道名称</th>
								<th style="width:10%;">现金总支付金额（单位：元）</th>
							</tr>
							</thead>
							<notempty name="list">
							<tbody class="no-border-y">
							<volist name="list" id="vo">
							<tr>
								<td style="width:10%;">{$vo.channel_name}</td>
								<td style="width:10%;">{$vo.cash}</td>
							</tr>
							</volist>
							</tbody>
							<else/>
							<td colspan="4"> aOh! 暂时还没有内容! </td>
							</notempty>
						</table>
						<div class="content col-lg-12 pull-left">
							<div class="panel-foot text-center">
								<div class="page">{$_page}</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
</div>
</block>
<block name="script">
	<js href="__JS__/jquery.icheck/icheck.min.js"/>
	<js href="__JS__/bootstrap.datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" />
	<script type="text/javascript">
		$(document).ready(function(){
			$(".starttime").datetimepicker({autoclose: true,language: 'zh-CN'});
			$(".endtime").datetimepicker({autoclose: true,language: 'zh-CN'});
			highlight_subnav('{:U('Finance/qdsummary')}');

			//搜索功能
			$("#search").click(function () {
				var url = $(this).attr('url');
				var keywordroot=  $('input[name=keywordroot]').val();
				var starttime=  $('input[name=starttime]').val();
				var endtime=    $('input[name=endtime]').val();
				var   query="keywordroot/"+keywordroot+"/starttime/"+starttime+"/endtime/"+endtime;
				url += '/' + query;
				window.location.href = url;
			});

			//导出功能
			$("#btnExport").click(function () {
				var url = $(this).attr('url');
				var keywordroot=  $('input[name=keywordroot]').val();
				var starttime=  $('input[name=starttime]').val();
				var endtime=    $('input[name=endtime]').val();
				var   query="keywordroot/"+keywordroot+"/starttime/"+starttime+"/endtime/"+endtime;
				url += '/' + query;
				window.location.href = url;
			});

			fundsflowIndx.conditionarr();

		});

		var fundsflowIndx = {
			conditionarr: function () {
				var conditionarr =  JSON.parse('{$conditionarr}') ;
				var keywordroot=conditionarr['keywordroot'];
				if(keywordroot!=undefined){
					$('input[name=keywordroot]').val(keywordroot);
				}
				var starttime=conditionarr['starttime'];
				if(starttime!=undefined){
					$('input[name=starttime]').val(starttime);
				}
				var endtime=conditionarr['endtime'];
				if(endtime!=undefined){
					$('input[name=endtime]').val( endtime);
				}
			}
		}
	</script>
</block>