<extend name="Public/base" />
<block name="style">
    <css href="__JS__/jquery.icheck/skins/square/blue.css"/>
    <css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <style type="text/css">
        .col-sm-3{
            width:185px;
        }
    </style>
</block>
<block name="body">
	<div>
		<div class="page-head">
			<h2>用户</h2>
		</div>
		<div class="cl-mcont">
			<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="header">
							<h3 class="hthin">{$meta_title}</h3>
						</div>
						<div class="content">
							<div class="col-sm-12">
								<label class="pull-left control-label">管理员名称/角色名称</label>
                                <div class="col-sm-3" >
									<input type="text" name="keyword" class="form-control" placeholder="管理员名称/角色名称">
								</div>
								<empty name="channelId">
									<label class="pull-left control-label">渠道名称</label>
										<div class="col-sm-3">
											<select class="form-control" id="channel" name="channel">
												<option value="">--请选择--</option>
												<volist name="category" id="vo">
													<option value="{$vo.id}" <eq name="channel_name['channel_name']" value="$vo['channel_name']">selected="selected"</eq>>{$vo.html}{$vo.channel_name}</option>
												</volist>
											</select>
										</div>
								</empty>
								<div class="col-sm-2">
									<button type="button" id="search" url="{:U('index')}" class="btn btn-success">搜素</button>
									<a class="btn btn-success" href="{:U('add')}"><i class="fa fa-plus-square"></i> 添加用户</a>
								</div>
							</div>

							<table class="no-border blue">
								<thead class="no-border">
									<tr>
										<th style="width:5%;">编号</th>
										<th style="width:20%;">管理员名称</th>
										<th style="width:10%;">姓名</th>
										<th style="width:10%;">联系电话</th>
										<th style="width:10%;">角色名称</th>
										<th style="width:10%;">是否启用</th>
										<th style="width:10%;">登陆时间</th>
										<th style="width:10%;">所属渠道</th>
										<th class="text-right">操作</th>
									</tr>
								</thead>
								<notempty name="_list">
									<tbody class="no-border-y">
										<volist name="_list" id="vo">
											<tr>
												<td>{$vo['id']}</td>
												<td>{$vo['username']}</td>
												<td>{$vo['fullname']}</td>
												<td>{$vo['phone']}</td>
												<td>{$vo['rolename']}</td>
												<td>{$vo['status']==1?"是":"否"}</td>
												<td>{$vo.last_login_time|time_format=###,"Y-m-d"}</td>
												<td>{$vo['channel_name']}</td>
												<td class="text-right">
													<a data-placement="left" data-toggle="tooltip" data-original-title="修改" class="label label-primary" href="{:U('password?id='.$vo['id'].'&roleid='.$vo['roleid'])}"><i class="fa fa-pencil"></i></a>
												   <a id="status" data-placement="left" data-toggle="tooltip" data-original-title="状态" class="label <eq name="vo.status" value="0">label-default<else/>label-success</eq> no-refresh ajax-get" href="{:U('setStatus?Model=member&id='.$vo['id'].'&status='.abs(1-$vo['status']))}"><i class="fa <eq name="vo.status" value="0">fa-eye-slash<else/>fa-eye</eq>"></i></a>
													<a data-placement="left" id="adeleteInfo" data-toggle="tooltip" data-original-title="删除" class="label label-danger ajax-get" href="{:U('del?id='.$vo['id'])}"><i class="fa fa-times"></i></a>
													<input type="hidden" value="{:U('del?id='.$vo['id'])}" id="hidDeleteUrl" />
												</td>
											</tr>
										</volist>
									</tbody>
									<else/>
									<td colspan="4"> aOh! 暂时还没有内容! </td>
								</notempty>
							</table>
							<div class="content col-lg-12 pull-left">
								<div class="panel-foot text-center">
									<div class="page">{$_page}</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
		$(document).ready(function(){
			highlight_subnav('{:U('Member/index')}');

			//搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var keyword=  $('input[name=keyword]').val();//开始日期
                var channel = $('select[name=channel]').val();//兑换方式
                var query="/keyword/"+keyword+"/channel/"+channel;
                url += '/' + query;
                window.location.href = url;
            });
            shopIndx.conditionarr();

		$("a[id=status]").click(function(){
			var t=setTimeout(refresh(),10000)
		});

		$("a[id=adeleteInfo]").click(function(){
			if(confirm("确定要删除数据吗？"))
			{
			    window.location.href = $("#hidDeleteUrl").val();
			}
		});
		});
		var shopIndx = {
            conditionarr: function () {
                var conditionarr =  JSON.parse('{$conditionarr}') ;
                $("input[name=keyword]").val(conditionarr['keyword']);
                var channel=conditionarr['channel'];
                if(channel!=undefined){
                    $("select[name=channel]").val(channel);
                }
            }
        }
		function refresh(){
			location.reload();
		}
	</script>
</block>