<extend name="Public/base"/>
<block name="body">
<div>
<div class="page-head">
	<h2>用户</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
				<div class="header">							
					<h3 class="hthin">{$meta_title}</h3>
				</div>
				<div class="content">
					<div class="tab-container">
						<form action="{:U()}" class="form-horizontal"  method="post">
							<input type="hidden" value="{$users['id']}" name="userid" />
							<div class="form-group">
								<label class="col-sm-2 control-label">用户名</label>
								<div class="col-sm-6">
									<input type="text" name="username" class="form-control" value="{$users['username']|default=''}" placeholder="用户名"/>
								</div>
							</div>
							<!--<div class="form-group">-->
								<!--<label class="col-sm-2 control-label">旧密码</label>-->
								<!--<div class="col-sm-6">-->
									<!--<input type="text" name="oldpassword" class="form-control" placeholder="旧密码"/>-->
								<!--</div>-->
							<!--</div>-->
							<div class="form-group">
								<label class="col-sm-2 control-label">密码</label>
								<div class="col-sm-6">
									<input type="text" name="password" class="form-control" placeholder="密码"/>
								</div>
							</div>
							<!--<div class="form-group">-->
								<!--<label class="col-sm-2 control-label">确认密码</label>-->
								<!--<div class="col-sm-6">-->
									<!--<input type="text" name="repassword" class="form-control" placeholder="确认密码"/>-->
								<!--</div>-->
							<!--</div>-->
							<div class="form-group">
								<label class="col-sm-2 control-label">角色</label>
								<div class="col-sm-6">
									<select class="form-control" id="role" name="roleid" onchange="showChannel();">
                                        <volist name="roles" id="vo">
											<option value="{$vo.id}" <eq name="roleidtag" value="$vo['id']">selected="selected"</eq>>
											{$vo.rolename}
											</option>
                                        </volist>
                                     </select>
								</div>
							</div>

							<!--<div id="div_channel" class="form-group" style="visibility:hidden;" 	>-->
							<div id="div_channel" class="form-group">
								<label class="col-sm-2 control-label">渠道名称</label>
								<div class="col-sm-6">
									<select class="form-control" name="channel_id"  >
									<option value="-1">--请选择--</option>
									<volist name="category" id="vo">
										<option value="{$vo.id}" <eq name="users['channel_id']" value="$vo['id']">selected="selected"</eq>>{$vo.html}{$vo.channel_name}</option>
									</volist>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">真实姓名</label>
								<div class="col-sm-6">
									<input type="text" name="fullname" class="form-control" placeholder="" value="{$users['fullname']|default=''}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">手机号</label>
								<div class="col-sm-6">
									<input type="text" name="phone" class="form-control" placeholder=""  value="{$users['phone']|default=''}"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input name="id" type="hidden" value="{$Think.get.id}" />
									<button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">提 交</button>
								</div>
						  	</div>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
		$(document).ready(function(){
			highlight_subnav('{:U('Member/index')}');

//			$("button[type=submit]").on('click', function () {
//				var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
//				if(!myreg.test($("input[name=phone]").val()))
//				{
//					alert('请输入有效的手机号码！');
//					return false;
//				}
//			});
		});
		function showChannel() {
			var channel = $("#role  option:selected").text();
			str   =   channel.replace(/\s+/g,"");
			if(str === '渠道'){
				$("#div_channel").show();
			}else {
				$("#div_channel").hide();
			}
		}
	</script>
</block>