<!DOCTYPE html>
<html>

<head>
    <include file="{$web_tplpath}head.html" />
	<style>body{background:#fff;}</style>
</head>
<body>
<div class="wrap">
	<div class="exp_top">
		<img class="au_img" src="{$web_tplpath}images/au_img.jpg" />
		<h1 class="au_tit"><i>中国黄金投资金条</i></h1>
		<span class="au_info">
			
            <table><h2>产品规格</h2>
                <tr>
					<td>纯度：</td>
                    <td  colspan="4">Au9999</td>
                </tr>
                <tr>
					<td>工费：</td>
                    <td  colspan="4">12/克</td>
                </tr>
                <tr>
					<td>尺寸：</td>
                    <td>2克</td>
                    <td>长约20mm</td>
                    <td>宽约7mm</td>
                    <td>厚约1mm</td>
                </tr>
                <tr>
					<td> </td>
                    <td>5克</td>
                    <td>长约28mm</td>
                    <td>宽约9mm</td>
                    <td>厚约1mm</td>
                </tr>
                <tr>
					<td> </td>
                    <td>10克</td>
                    <td>长约35mm</td>
                    <td>宽约12mm</td>
                    <td>厚约1mm</td>
                </tr>
                <tr>
					<td> </td>
                    <td>20克</td>
                    <td>长约35mm</td>
                    <td>宽约13mm</td>
                    <td>厚约2.5mm</td>
                </tr>
                <tr>
					<td> </td>
                    <td>50克</td>
                    <td>长约64mm</td>
                    <td>宽约21mm</td>
                    <td>厚约2.8mm</td>
                </tr>
                <tr>
					<td> </td>
                    <td>100克</td>
                    <td>长约80mm</td>
                    <td>宽约27mm</td>
                    <td>厚约3.1mm</td>
                </tr>
                <tr>
					<td> </td>
                    <td>200克</td>
                    <td>长约59mm</td>
                    <td>宽约24mm</td>
                    <td>厚约8mm</td>
                </tr>
            </table>
			
		</span>
	</div>
		
	<div class="explain">
		<ul class="exp_two">
			<li><h1>最便宜的实物黄金产品</h1><p>上海黄金交易所黄金报价+12/克的工费</p><p>最便宜的互联网黄金产品来啦</p></li>
			<li><h1>精湛切割/磨砂工艺</h1><p>采用芯片式立体切割/磨砂工艺精工品质</><p>卓尔不群</p></li>
			<li><h1>成色品质保障</h1><p>原料来自上海黄金交易所高纯度“壹号金”产品经由国家权威机构出具专属检测证书</p></li>
			<li><h1>便捷的回购</h1><p>以上海黄金交易所黄金报价实时回购</p><p>无需任何手续费</p></li>
			
		</ul>
		<ul class="exp_thr clearfix"><h1> 优质购进体验合作伙伴</h1>
				<li><i>国家首饰质量监督检查中心</i></li>
				<li><i>顺丰速递</i></li>
		</ul>
        <div class="exp_h"><span>G</span></div>
		<ul class="exp_one">
			<li>本站上的商品价格、数量、是否有货等商品信息随时都可能变动，请及时查询相关信息，本站将不做其他通知；</li>
			<li>在您下订单时，请您仔细确认联系地址、电话、收货人等信息。收货人与您本人不一致的，收货人的行为和意思表示为您的行为和意思表示您应对相应的法律后果承担连带责任；</li>
			<li>您可以随时登陆您在本站的账户，在提金明细中查询您的订单状态；</li>
			<li>您的订单在支付成功后，我们会尽快将您的订单货品发出；</li>
			<li>您在购买黄金实物并点击确认收货，即视为销售履行完毕；</li>
			<li>在您下单之后，无法取消订单，若您通过拒本站发出的快递包裹的形式使得订单座位，则您需要承担货品双向和物流和保险费用，并保证本站产品外包装等的完整性（包括封箱贴等证明包装完整性的标识），否则我们将额外扣除实物黄金产品的生产费用；以上情况发生后，您所购买的黄金克重，将按网站规定的时间返还到您账户中；在此期间由于黄金价格变化或汇率变化给您造成的损失，本站将不承担责任。</li>
		</ul>
	</div>

</div>


</body>
</html>