
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>{$web_title}</title>
    <!--<meta name="goback" content="{$goback}" />-->
    <meta name="keywords" content="{$web_keywords}" />
    <meta name="description" content="{$web_description}" />
    <link href="{$web_tplpath}css/main.css" rel="stylesheet" type="text/css" />
	<!-- <script data-main="{$web_tplpath}js/main" src="{$web_tplpath}js/require.js"></script> -->
	<script src="{$web_tplpath}js/jquery-1.11.1.min.js"></script>
	<script src="{$web_tplpath}js/script.js"></script>
    <script src="{$web_tplpath}js/tingyun-rum.js"></script>
    <!-- <script type="text/javascript">
    if(navigator.onLine){}else{alert("网络异常，请检查您的网络~");}
    </script> -->
    <div style="display: none;"> 
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261268200'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261268200%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1261268200"]);
    </script>

