<!DOCTYPE html>
<html>

<head>
    <include file="{$web_tplpath}head.html" />
</head>

<body>

    <div class="wrap">
        <!-- <div class="header">
            <div class="user"><img class="user_img" src="{$user.headimgurl}" />
            </div>
            <div class="user_own">{$user.nickname}</div>
            <div class="user_own">拥有的{:C("WEB_CURRENCY")}</div>
            <div class="user_dia"><i>{$user.gold_coupon}</i></div>
        </div>
        <div class="get_num">
            <span class="gt_tit">请选择充值面额</span>
        </div> -->
        <div class="">
                <font color="#9ACD32"><b>该笔订单支付金额为<span style="color:#f00;font-size:50px">1分</span>钱</b></font><br/><br/>
                <div align="center">
                    <button style="width:210px; height:50px; border-radius: 15px;background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >立即支付</button>
                </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {

        });

        //调用微信JS api 支付  
        function jsApiCall()  
        {  
            var data={$data};  
            WeixinJSBridge.invoke(  
                'getBrandWCPayRequest', data,   
                function(res){  
                    WeixinJSBridge.log(res.err_msg);  
                    //alert('err_code:'+res.err_code+'err_desc:'+res.err_desc+'err_msg:'+res.err_msg);  
                    //alert(res.err_code+res.err_desc+res.err_msg);  
                    //alert(res);  
                    if(res.err_msg == "get_brand_wcpay_request:ok"){    
                        alert("支付成功!");  
                        window.location.href='{U("Index/WxPayResult")}';  
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){    
                        alert("用户取消支付!");    
                    }else{    
                        alert("支付失败!");    
                    }    
                }  
            );  
        }  
    
        function callpay()  
        {  
            if (typeof WeixinJSBridge == "undefined"){  
                if( document.addEventListener ){  
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);  
                }else if (document.attachEvent){  
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);   
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);  
                }  
            }else{  
                jsApiCall();  
            }  
        }  
    </script>
</body>

</html>