<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>参与及玩法介绍</title>
<style>
html{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
body{background: #ffecdb;margin:0;border:0;padding:0;}
.head{width:100%; margin:0 auto;}
.head img {width:100%;margin:-2px auto;}
</style>
</head>
<body>
<div class="head">
<img src="{$web_tplpath}images/jq_01.jpg" />
<img src="{$web_tplpath}images/jq_02.jpg" />
<img src="{$web_tplpath}images/jq_03.jpg" />
<img src="{$web_tplpath}images/jq_04.jpg" />
<img src="{$web_tplpath}images/jq_05.jpg" />
<img src="{$web_tplpath}images/jq_06.jpg" />
<img src="{$web_tplpath}images/jq_07.jpg" />
</div>

</body>
</html>