<!DOCTYPE html>
<html>

<head>
    <include file="{$web_tplpath}head.html" />
</head>

<body>

    <div class="wrap">
        <div class="header"style="margin-bottom:0;">
            <div class="user"><img class="user_img" src="{$user.headimgurl}" />
                <!-- <span id="notice"><if condition="($notification gt 0)"><i></i></if></span> -->
            </div>
            <div class="user_own">{$user.nickname}</div>
            <div class="user_own">拥有的{:C("WEB_CURRENCY")}</div>
            <div class="user_dia"><i>{$user.gold_coupon}</i></div>
        </div>
        <div class="get_num">
            <span class="gt_tit" style="height: 35px;line-height: 35px;" >请选择充值面额</span>
        </div>
        <div class="recharge_items">
            <volist name="_list" id="vo">
                <div class="recharge_item" onclick="pay({$vo['id']})">
                    <div>{$vo['income']+$vo['extra']}{:C("WEB_CURRENCY")} <img src="{$web_tplpath}/images/coin_icon.png" alt="" style="width:15px;"></div>
                    <div>￥{$vo['payout']|default=0.00}{:$vo['extra']>0?'送'.intval($vo['extra']).C("WEB_CURRENCY"):''}</div>
                </div>
            </volist>
            <input type="hidden" id="cash_number" value="">
            <input type="hidden" id="total_cash_gold" value="">
        </div>
    </div>

    <script type="text/javascript">
        $(function() {

        });

        function pay($rid){
            window.location.href = "{:U('Index/perpay/rid/"+$rid+"')}";
        }
    </script>
</body>

</html>