<extend name="Public/base"/>
<block name="style">
    <css href="__JS__/jquery.icheck/skins/square/blue.css"/>
    <css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <style type="text/css">
        .col-sm-3{
            width:185px;
        }
    </style>
</block>

<block name="body">
    <div>
        <div class="page-head">
            <h2>活动列表</h2>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <form class="shop-form" method="get" action="{:U('index')}">
                    <div class="block-flat">
                            <div class="header">
                                <h3 class="hthin">{$meta_title}</h3>
                            </div>
                            <div class="content">
                                <div class="col-sm-12">
                                    <div style="float: left;width: 100%;">
                                    <label class="pull-left control-label">活动状态</label>
                                    <div class="col-sm-3" >
                                            <select class="form-control" name="state" style="width: 150px;">
                                                <option value="">所有状态</option>
                                                <option value="0">进行中</option>
                                                <option value="1">开奖中</option>
                                                <option value="2">已开奖</option>
                                                <option value="3">已下架</option>
                                                <option value="4">已取消</option>
                                            </select>
                                    </div>
                                    <label class="pull-left control-label">开始日期</label>
                                    <div class="col-sm-3">
                                        <div class="input-group date starttime" data-min-view="2" data-date-format="yyyy-mm-dd">
                                            <input type="text" name="starttime" class="form-control" value="{$Think.post.starttime|default=time_format(NOW_TIME-24*60*60*30,'Y-m-d')}"/>
                                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <label class="pull-left control-label">结束日期</label>
                                    <div class="col-sm-3" >
                                        <div class="input-group date endtime" data-min-view="2" data-date-format="yyyy-mm-dd">
                                            <input type="text" name="endtime" class="form-control" value="{$Think.post.endtime|default=time_format(NOW_TIME,'Y-m-d')}"/>
                                            <span class="input-group-addon btn btn-primary" ><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="submit" class="btn btn-success">搜索</button>-->
                                        <button type="button" id="search"
                                                url="{:U('index')}" class="btn btn-success">
                                            搜索
                                        </button>
                                        &nbsp;
                                        <button type="button"   url="{:U('exportShoplist')}"  class="btn btn-success" id="btnExport">导出</button>
                                    </div>


                                    </div>
                                    </div>
                                </div>
                                <table class="no-border blue">
                                    <thead class="no-border">
                                    <tr><td colspan="11">{:C("WEB_CURRENCY")}总额：{$total_info['total_gold_price']}，黄金成交量：{$total_info['total_buy_gold']}g, 总期数:{$total_info['total_page']}，现金：{$total_info['total_price']}</td></tr>
                                    <tr>
                                   
                                        <th style="width:5%;">期号</th>
                                        <th style="width:10%;">开始时间</th>
                                        <th style="width:10%;">结束时间</th>
                                        <th style="width:5%;">活动状态</th>
                                        <th style="width:8%;">参与人次</th>
                                        <th style="width:8%;">支付{:C("WEB_CURRENCY")}</th>
                                        <th style="width:10%;">现金金额</th>
                                        <th style="width:10%;">黄金总数量（mg）</th>
                                        <th style="width:8%;">开奖号码</th>
                                        <th style="width:8%;">预估成本（元）</th>
                                        
                                    </tr>
                                    </thead>
                                    <notempty name="shoplist">
                                        <tbody class="no-border-y">
                                        <volist name="shoplist" id="vo">
                                            <tr>
                                                <td>{$vo['no']}</td>                                               
                                                <td>{$vo.create_time|time_format=###,"Y-m-d H:i:s"}</td>
                                                <td>{:$vo['end_time']>0?msecdate("Y-m-d H:i:s",$vo['end_time']):''}</td>
                                                <td>{:get_state($vo['state'])}</td>
                                                <td>{$vo['total_number']}</td>
                                                <td>{$vo['total_gold_price']}</td>
                                                <td>{$vo['total_price']}</td>
                                                <td>{$vo['total_buy_gold']}</td>
                                                <td>{$vo['kaijang_num']}</td>
                                                <td>{$vo['total_price']}</td>
                                                <!-- <td>
                                                    <a href="{:U('Order/orderlist?pid='.$vo['pid'])}" >查看明细</a>
                                                </td> -->
                                            </tr>
                                        </volist>
                                        </tbody>
                                        <else/>
                                        <td colspan="3"> aOh! 暂时还没有内容!</td>
                                    </notempty>
                                </table>

                                <div class="content col-lg-12 pull-left">
                                    <div class="panel-foot text-center">
                                        <div class="page">{$_page}</div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <js href="__JS__/jquery.icheck/icheck.min.js"/>
    <js href="__JS__/bootstrap.datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".starttime").datetimepicker({autoclose: true,language: 'zh-CN'});
            $(".endtime").datetimepicker({autoclose: true,language: 'zh-CN'});

            highlight_subnav("{:U('Order/index')}");

            $('.opiframe').click(function () {
                layer.open({
                    type: 2,
                    title: $(this).attr('data-name'),
                    shadeClose: true,
                    maxmin: false, //开启最大化最小化按钮
                    area: ['850px', '610px'],
                    content: [$(this).attr('url'), 'no']
                });
            });
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue checkbox',
                radioClass: 'icheckbox_square-blue'
            });

            $("#check-all").on('ifChanged', function () {
                var checkboxes = $("tr td").find(':checkbox');
                if ($(this).is(':checked')) {
                    checkboxes.iCheck('check');
                } else {
                    checkboxes.iCheck('uncheck');
                }
            });

            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var state=  $("select[name=state]").val();//活动状态
                var starttime=  $('input[name=starttime]').val();//开始日期
                var endtime=    $('input[name=endtime]').val();//结束日期
                var channel = $('select[name=channel]').val();//兑换方式
                var query="/state/"+state+"/starttime/"+starttime+"/endtime/"+endtime;
                url += '/' + query;
                window.location.href = url;
            });

            //导出功能
            $("#btnExport").click(function () {
                var url = $(this).attr('url');
                var state=  $("select[name=state]").val();//活动状态
                var starttime=  $('input[name=starttime]').val();//开始日期
                var endtime=    $('input[name=endtime]').val();//结束日期
                var channel = $('select[name=channel]').val();//兑换方式
                var query="/state/"+state+"/starttime/"+starttime+"/endtime/"+endtime;
                url += '/' + query;
                window.location.href = url;
            });

            shopIndx.chkAll();
            editStatus.shelves();
            shopIndx.conditionarr();
        });

        var shopIndx = {
            chkAll: function () {
                $('#chkAll').next().on('click', function () {
                    //选择所有
                    var chkAllVal = $(this).prev().prop('checked');
                    if (chkAllVal) {
                        $('input[name="id[]"]').parent().attr('aria-checked', chkAllVal).attr('class', 'icheckbox_square-blue checkbox checked');
                    } else {
                        $('input[name="id[]"]').parent().attr('aria-checked', chkAllVal).attr('class', 'icheckbox_square-blue checkbox');
                    }
                });
            },
            statusEdit: function (status) {
                var text=status=="1"?"上架":"下架";
                if (confirm("确定要"+text+"数据吗？")) {
                    var ids = [];
                    $('div[aria-checked="true"]').children('input').each(function (index, element) {
                        var id = $(this).val();
                        if(id!=""){
                            ids.push(id);
                        }
                    });

                    if(ids.length<=0){
                        alert("请至少选择一个要"+text+"的数据");
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        url: "{:U('Shop/multipleStatus')}",
                        data: {ids: ids,status:status},
                        dataType: "json",
                        success: function (result) {

                        }
                    });

                    location.reload();
                }
            },
            conditionarr: function () {
                var conditionarr =  JSON.parse('{$conditionarr}') ;
                $("input[name=starttime]").val(conditionarr['starttime']);
                $("input[name=endtime]").val(conditionarr['endtime']);
                var state=conditionarr['state'];
                if(state!=undefined){
                    $("select[name=state]").val(state);
                }
                var channel=conditionarr['channel'];
                if(channel!=undefined){
                    $("select[name=channel]").val(channel);
                }
            }
        }

        var editStatus={
            shelves: function () {
                //上架
                $("#btnshelves").on('click', function () {
                    shopIndx.statusEdit(1);
                });

                //下架
                $("#btnoffshelf").on('click', function () {
                    shopIndx.statusEdit(0);
                });
            }
        }

    </script>
</block>