<extend name="Public/base" />
<block name="style">
    <css href="__JS__/jquery.icheck/skins/square/blue.css" />
    <css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <style type="text/css">
        .col-sm-3 {
            width: 185px;
        }
        
        .divtitle {
            /*border: 1px;*/
            background-color: #a09f9f;
            /*width: 50%;
            margin-left: 25%;*/
            /*height: 35px;*/
            font-size: 20px;
            /*line-height: 35px;*/
            color: black;
        }
        table th{
            color: #3078EF;
        }
    </style>
</block>

<block name="body">
    <div>
        <div class="page-head">
            <h2>订单详情</h2>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h3 class="hthin">{$meta_title}</h3>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <!--<div class="divtitle">基本信息
                        </div>-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="divtitle">基本信息</th>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;">订单号</th>
                                        <th style="width:20%;">{$orderdetail['shoporder']['order_id']}</th>
                                        <th style="width:10%;">兑换流水号</th>
                                        <th style="width:20%;"> {$orderdetail['shoporder']['exchange_transaction']}</th>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;">用户id</th>
                                        <th style="width:20%;">{$orderdetail['user']['id']}</th>
                                        <th style="width:10%;">用户名称</th>
                                        <th style="width:20%;">{$orderdetail['user']['nickname']}</th>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;">兑换类型</th>
                                        <th style="width:20%;">
                                            <if condition="($vo['exchange_type'] eq 1)">兑换
                                                <else />夺宝</if>
                                        </th>
                                        <th style="width:10%;">下单时间</th>
                                        <th style="width:20%;">{$orderdetail['shoporder']['create_time']|time_format=###,"Y-m-d H:i:s"}</th>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;">物流状态</th>
                                        <th style="width:20%;">{:get_order_status($orderdetail['shopperiod']['order_status'])}</th>
                                        <th style="width:10%;">开奖时间</th>
                                        <th style="width:20%;">
                                            <empty name="orderdetail.shopperiod.kaijang_time">
                                                <else/> {$orderdetail['shopperiod']['kaijang_time']|time_format=###,"Y-m-d H:i:s"}</empty>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 25px;" class="address">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="divtitle">收货人信息</th>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;">收货人姓名</th>
                                        <th style="width:20%;">{$orderdetail['shopperiod']['contacts']}</th>
                                        <th style="width:10%;">联系电话</th>
                                        <th style="width:20%;">
                                            <empty name="orderdetail['shopperiod']['phone']">
                                                {$orderdetail['user']['phone']}
                                                <else /> {$orderdetail['shopperiod']['phone']}
                                            </empty>
                                            <!--{$orderdetail['shopperiod']['phone']=='' ? $orderdetail['user']['phone'] : '-'}-->
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="width:10%;">收货地址</th>
                                        <th style="width:20%;">{$orderdetail['shopperiod']['address']}</th>
                                        <th style="width:10%;">邮箱</th>
                                        <th style="width:20%;">{$orderdetail['shopperiod']['email']}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <form class="shop-form" method="post" action="{:U('purchaseorderadd')}">
                        <div style="text-align: center; margin-top: 25px;" class="address1">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4" class="divtitle">收货人信息</th>
                                        </tr>
                                        <tr>
                                            <th style="width:10%;">收货人姓名</th>
                                            <th style="width:20%;"><input type="text" name="contacts" value="{$orderdetail['shopperiod']['contacts']}" class="form-control"></th>
                                            <th style="width:10%;">联系电话</th>
                                            <th style="width:20%;">
                                                <input type="text" name="phone" value="<empty name="orderdetail['shopperiod']['phone']">{$orderdetail['user']['phone']}<else /> {$orderdetail['shopperiod']['phone']}</empty>" class="form-control"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:10%;">收货地址</th>
                                            <th style="width:20%;"><input type="text" name="address" value="{$orderdetail['shopperiod']['address']}" class="form-control"></th>
                                            <th style="width:10%;">邮箱</th>
                                            <th style="width:20%;"><input type="text" name="email" value="{$orderdetail['shopperiod']['email']}" class="form-control"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 25px;">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="9" class="divtitle">商品信息</th>
                                        </tr>
                                        <tr>
                                            <th style="width:20%;">商品名称</th>
                                            <th style="width:10%;">期号</th>
                                            <th style="width:10%;">中奖号码</th>
                                            <th style="width:8%;">商品金额</th>
                                            <th style="width:8%;">{:C("WEB_CURRENCY")}(充值)</th>
                                            <th style="width:8%;">{:C("WEB_CURRENCY")}(活动)</th>
                                            <th style="width:8%;">总{:C("WEB_CURRENCY")}</th>
                                            <notempty name="orderdetail['shopperiod']['cardno']">
                                            <th style="width:8%;">卡号</th>
                                            </notempty>
                                            <notempty name="orderdetail['shopperiod']['cardpassword']">
                                            <th style="width:8%;">密码</th>
                                            </notempty>
                                        </tr>
                                        <tr>
                                            <th>{$orderdetail['shop']['name']}</th>
                                            <th>{$orderdetail['shopperiod']['no']}</th>
                                            <th>{$orderdetail['shopperiod']['kaijang_num']}</th>
                                            <if condition="($orderdetail['shopperiod']['exchange_type'] eq 1)">
                                                <th>{$orderdetail['shop']['full_price']}</th>
                                                <else />
                                                <th>{$orderdetail['shop']['price']}</th>
                                            </if>

                                            <th>{$orderdetail['shoporder']['top_diamond']}</th>
                                            <th>{$orderdetail['shoporder']['recharge_activity']}</th>
                                            <th>{$orderdetail['shoporder']['total']}</th>
                                            <notempty name="orderdetail['shopperiod']['cardno']">
                                            <th>{$orderdetail['shopperiod']['cardno']}</th>
                                            </notempty>
                                            <notempty name="orderdetail['shopperiod']['cardpassword']">
                                            <th>{$orderdetail['shopperiod']['cardpassword']}</th>
                                            </notempty>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 25px;">
                            <div id="divdetail" class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4" class="divtitle">物流采购信息</th>
                                        </tr>
                                        <tr>
                                            <th>采购单号</th>
                                            <th>{$orderdetail['shopperiod']['purchaseno']} </th>
                                            <th>供应商名称</th>
                                            <th>{$orderdetail['shopperiod']['suppliername']}</th>
                                        </tr>
                                        <tr>
                                            <th>采购金额</th>
                                            <th>{$orderdetail['shopperiod']['purchasecash']} </th>
                                            <th>采购订单状态</th>
                                            <th>
                                                {:purchaseorderstatus($orderdetail['shopperiod']['purchaseorderstatus'])}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>物流名称</th>
                                            <th>
                                                {$orderdetail['shopperiod']['express_name']}
                                            </th>
                                            <th>物流单号</th>
                                            <th>
                                                {$orderdetail['shopperiod']['express_no']}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>发货状态</th>
                                            <th>
                                                {:get_order_status($orderdetail['shopperiod']['order_status'])}
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <input type="hidden" value="{$pid}" name="pid" />
                            <div id="divdetail1" class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4" class="divtitle">物流采购信息</th>
                                        </tr>
                                        <tr>
                                            <th>采购单号</th>
                                            <th> <input type="text" name="purchaseno" value="{$orderdetail['shopperiod']['purchaseno']}" class="form-control"></th>
                                            <th>供应商名称</th>
                                            <th><input type="text" name="suppliername" value="{$orderdetail['shopperiod']['suppliername']}" class="form-control"></th>
                                        </tr>
                                        <tr>
                                            <th>采购金额</th>
                                            <th> <input type="text" name="purchasecash" value="{$orderdetail['shopperiod']['purchasecash']}" class="form-control"></th>
                                            <th>采购订单状态</th>
                                            <th>
                                                <select class="form-control" name="purchaseorderstatus" style="width: 150px;">
                                        <option value="1">已采购</option>
                                        <option value="2">未采购</option>
                                        </select>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>物流名称</th>
                                            <th> <input type="text" name="express_name" value="{$orderdetail['shopperiod']['express_name']}" class="form-control"></th>
                                            <th>物流单号</th>
                                            <th><input type="text" name="express_no" value="{$orderdetail['shopperiod']['express_no']}" class="form-control"></th>
                                        </tr>
                                        <tr>
                                            <th>发货状态</th>
                                            <th>
                                                <select class="form-control" name="order_status" style="width: 150px;">
                                            <option value="100">未发货</option>
                                            <option value="101">已发货</option>
                                            <option value="102">已收货</option>
                                            <option value="103">已晒单</option>
                                       </select>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="text-align: center;margin-top: 25px;">
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(document).ready(function() {
            var dis = '{$display}';
            $("#divdetail").css('display', dis == 1 ? "block" : "none");
            $("#divdetail1").css('display', dis == 0 ? "block" : "none");
            $(".address").css('display', dis == 1 ? "block" : "none");
            $(".address1").css('display', dis == 0 ? "block" : "none");

            $("select[name=order_status]").val("{$orderdetail['shopperiod']['order_status']}");
            $("select[name=purchaseorderstatus]").val("{$orderdetail['shopperiod']['purchaseorderstatus']}");
        });
    </script>
</block>